#drawing{
	position:relative;
	width:160px;
	height:400px;
}
#drawing > div{
	position:absolute;
	border:1px solid black;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#colors>div{
	display:inline-block;
	margin:5px;
	width:10px;
	height:10px;
	border:1px solid black;
}
#texture,#texture-stretched{
	display:none;
}

#container, #drawing{
	float:left;
	margin:10px;
}
body{
padding: 20px;
}
