#drawing{
	position:relative;
	width:640px;
	height:410px;
}
#drawing > div{
	position:absolute;
	border:1px solid black;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#colors>div{
	display:inline-block;
	margin:5px;
	width:19px;
	height:40px;
	
}
#colors>div>div{
	width:20px;
	height:20px;
}
#colors .picker{
	border:1px solid black;
	box-sizing:border-box;
	
}
#colors .picker.current{
	border:3px solid black;
	
}
#colors .edit{
	background-color:#fff;
cursor:pointer;
}
#colors .edit:before{
	content:'\f044';
	color:black;
	font-family:FontAwesome;
	font-size:24px;
	cursor:pointer;
}
#texture,#texture-stretched,#export-image{
	display:none;
}
#controls{
	width:300px;
}
#container, #controls{
float:left;
}
#drawing{
	max-width:660px;
}
#drawing, #controls{
	margin-right:10px;
}
#container{
	width:490px;

	
}
#container, #drawing{
	
	margin:10px;
}

#update-3d-view{
display:block;
}
body{
padding: 20px;
}
body > div, #controls .panel-body>div{
	margin:10px 0;
}
#drawing,#controls,#container{
	float:left;
	min-height:460px;
}
body>div.colorpicker{
	min-height:0;
}
