<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/julekuler.css">
    <link rel="stylesheet" href="css/colorpicker.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<h1>Julekuler Generator <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:inline-block;">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="N5BB9RTK7Z83G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>-->

</h1>

<div ng-app="kpg">

    <div ng-controller="actions">
        <div ng-controller="kpgRenderThreeJs">
            <div ng-controller="canvasHtml">
                <div ng-controller="kpgPersist">
                    <div class="drawing panel panel-default">
                        <div id="drawing" kpg-canvas-html elem-width="10"></div>
                    </div>
                    <div class="controls panel panel-default">

                        <div class="panel-body  ">
                            <div class="input-group panel-default panel">
                                <div class="input-group-addon"><label for="title">Title</label></div>
                                <input class="form-control" type="text" placeholder="My Julekuler" id="title"
                                       ng-model="model.title"/>
                            </div>
                            <div class="panel panel-default">
                                <div id="colors" kpg-canvas-colorpicker></div>
                            </div>

                            <a href="" ng-click="redraw();" href="#" class="btn btn-default" id="update-3d-view">Update
                                3d-view</a>

                            <div class="input-group">
                                <span class="input-group-addon">Copy sides: </span>

                                <select class="form-control" id="copy" kpg-actions-symmetric-copy></select>

                            </div>
                            <div class="input-group">
                                <div class="input-group-addon"><input ng-model="modelService.symmetricEditing"
                                                                      type="checkbox" id="insync" value="1"/></div>
                                <label class="form-control" for="insync">edit in sync</label>
                            </div>
                            <a id="save" class="btn btn-default" href="" ng-click="bookmark('local')">Save</a> <a
                                id="save-to-image" class="btn btn-default" href="" ng-click="saveStateToImage()">Save
                            to image</a>

                            <div class="input-group socialmedia">
                                <span class="input-group-addon">Share: </span>

                                <div class="form-control">
                                    <a class="facebook" target="_blank"
                                       href="https://www.facebook.com/sharer.php?s=100&p[title]={{socialMedia.title}}&p[url]={{socialMedia.url}}"
                                       ng-click="bookmark('facebook')"><img src="images/FB-f-Logo__blue_29.png"
                                                                            alt="Share on Facebook" target="_blank"></a>
                                    <a class="g-plus" target="_blank"
                                       href="https://plus.google.com/share?url={{socialMedia.url}}"
                                       ng-click="bookmark('g-plus')"><img
                                            src="https://www.gstatic.com/images/icons/gplus-32.png"
                                            alt="Share on Google+"
                                            target="_blank"></a>
                                    <a class="twitter" target="_blank"
                                       href="https://twitter.com/share?text={{socialMedia.title}}&url={{socialMedia.url}}&hashtags=julekuler"
                                       ng-click="bookmark('twitter')"><img src="images/bird_blue_32.png"
                                                                           alt="Share on Twitter" target="_blank"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container panel panel-default">

                    <div kpg-render-three-js class="panel-body" id="container"></div>
                </div>


            </div>
        </div>
    </div>
</div>


<a href="https://github.com/derwassi/julekuler-generator"><img
        style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
        alt="Fork me on GitHub"></a>
<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/vendor/three-r62.min.js"></script>
<script src="js/vendor/OrbitControls-r62.js"></script>
<script src="js/vendor/colorpicker.js"></script>
<script src="js/vendor/angular-1.2.2.min.js"></script>
<script src="js/vendor/base64.js"></script>
<script src="js/vendor/canvas2image.js"></script>

<script src="js/angular/pattern/patternService.js"></script>
<script src="js/angular/model/modelService.js"></script>

<script src="js/angular/canvas/htmlDirective.js"></script>
<script src="js/angular/canvas/colorpickerDirective.js"></script>
<script src="js/angular/canvas/htmlCanvasController.js"></script>

<script src="js/angular/actions/symmetricCopyDirective.js"></script>
<script src="js/angular/actions/actionsController.js"></script>

<script src="js/angular/render/threeJsRendererController.js"></script>
<script src="js/angular/render/threeJsRendererService.js"></script>
<script src="js/angular/persist/persistenceController.js"></script>
<script src="js/angular/persist/urlServices.js"></script>
<script src="js/angular/persist/imageService.js"></script>


<script src="js/angular/app.js"></script>


</body>
</html>
